# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
*.swp
*~.nib

# Build
build/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App packaging
*.app
*.ipa
